extends layout

block content
    .tagline
        p vocalizer by <a href="https://twitter.com/mokogobo">@mokogobo</a>
    .formInput
        input(id="formInput", type="text", value="", placeholder="#{id}", autofocus)
        // input(id="formInput", type="text", value="", placeholder="#shitidontlike", autofocus)
    script(type='text/javascript').
        var vocalizerRef = new Firebase('https://verbalizer.firebaseio.com/');
        var myRootRef = vocalizerRef.child("#{id}");
        var shitCount = 16;

        $(function(){
            $("#formInput").keypress(function (e){
                if ((e.which && e.which ==13)||(e.keyCode && e.keyCode ==13)){
                    $('button[type=submit] .default').click();
                    //speakShit(document.getElementById("formInput").value);
                    myRootRef.push().set({shit:document.getElementById("formInput").value});
                    document.getElementById("formInput").value = "";
                    return false;
                }else{
                    return true;
                }
            });
        });

        function speakShit(shitidontlike) {
            console.log("speakShit");
            var text = shitidontlike;
            var amplitude = 100;
            var pitch = 200;
            var speed = 140;
            var wordGap = 0;
            var variant = 'None';
            meSpeak.speak(text, {
                amplitude: amplitude,
                wordgap: wordGap,
                pitch: pitch,
                speed: speed,
                variant: variant
            });
            return false;
        }

    .shitlist
        ul#shit
            script(type='text/javascript').
                myRootRef.endAt().limit(shitCount).on('child_added', function(snapshot) {
                    var message = snapshot.name(), a = snapshot.val();
                    if (shitCount > 0) shitCount--;
                    if (shitCount == 0) { speakShit(a.shit); }
                    console.log(shitCount);
                    //speakShit(a.shit);
                    $("<li class='slideshit'>"+a.shit+"</li>").prependTo("#shit");
                    $('.slideshit').hide();
                    $('.slideshit').slideDown();
                    $('.slideshit').removeClass('slideshit');
                });
