doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='/javascripts/mespeak.js')
    script(src='/javascripts/speakthat.js')
    style.
      @import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);
      body {
        font-family: 'Roboto', sans-serif;
      }
      .container {
        width: 80%;
        margin: 0 auto;
      }
      .tagline{
          h1{
              margin-top: 10px;
              font-weight: 100;
              font-size: 4em;
              margin-bottom: 20px;
          }

      }

      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #a3a3a3;
      }
      input:-moz-placeholder, textarea:-moz-placeholder {
        color: #a3a3a3;
      }
      a{
          text-decoration: none;
      }
      a:link {color:#ccc;}      /* unvisited link */
      a:visited {color:#ccc;}  /* visited link */
      a:hover {; color:#a3a3a3;}  /* mouse over link */
      a:active {color:#ccc;}  /* selected link */
      p{
          color: #ccc;
          font-weight: 100;
      }
      #formInput{
          margin-top: 30px;
          font-size: 4.4em;
          font-weight: 100;
          margin-left: 0px;
          width: 97%;
          padding: 10px;
          padding-left: 0px;
          color: black;
          border: 0px;
          font-weight: 100;
      }

      .formInput {
          padding-bottom: 2px;
          border-bottom: 2px solid #ccc;

          margin-top: 55px;
      }

      #final_span {
          margin-top: 30px;
          font-size: 4.4em;
          font-weight: 100;
          margin-left: 0px;
          width: 97%;
          padding: 10px;
          padding-left: 0px;
          color: black;
          border: 0px;

          color: #a3a3a3;
          font-weight: 100;
      }

      #interim_span {
          margin-top: 30px;
          font-size: 4.4em;
          font-weight: 100;
          margin-left: 0px;
          width: 97%;
          padding: 10px;
          padding-left: 0px;
          color: black;
          border: 0px;

          color: #ccc;
          font-weight: 100;
      }

      input:focus, textarea:focus {
          outline: none !important;
          border-bottom: 10px black solid;
      }

      ul{
          list-style: none;
          padding: 0px;
          margin-left: 0px;
          font-size: 2.0em;
          font-weight: 100;
      }
      li{
          margin-top: 10px;
          list-style: none;
          font-weight: 100;
          font-size: 2.0em;
      }

  body
    .container
      block content
