doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='https://cdn.firebase.com/v0/firebase.js')
    script(src='/javascripts/mespeak.js')
    script(src='/javascripts/speakthat.js')
  body
    .container
      block content
